<html>
    <form autocomplete="off" method="post" action="/login">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="masukkan username anda"> </input>

        <br>

        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="masukkan password anda"> </input>

        <br>

        <button type="submit">Login</button>
    <a href="http://localhost:3000/oauth">
        <img src="C:\Users\ASUS\Documents\Menjadi BE binar\express-oauth\butongoogle.png">
    </a>
    </form>
</html>